<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TechTools.Core.Hana.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<applicationSettings>
		<TechTools.Core.Hana.conf>
			<setting name="ConnectionString" serializeAs="String">
				<!--value>Server=172.31.250.10:30013;UserName=SYSTEM;Password=77y46Nq4VV;DATABASENAME=NDB</value-->
				<value>Server=172.31.250.10:30013;UserName=SAPINST;Password=hfu4Gfjfhs;DATABASENAME=NDB</value>
				<!--value>SERVERNODE=172.31.250.10:30013;UID=SAPINST;PWD=hfu4Gfjfhs;DATABASENAME=NDB</value-->
			</setting>
			<setting name="DefaultSchema" serializeAs="String">
				<!--value>SBO_JBP_PROD</value-->
				<value>SBO_MOD</value>
			</setting>
		</TechTools.Core.Hana.conf>	
	</applicationSettings>
</configuration>