<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="jbp.businessServices.SendFacturasAndNCPromotick.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="jbp.core.Variables" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TechTools.Utils.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="jbp.business.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <jbp.businessServices.SendFacturasAndNCPromotick.conf>
      <setting name="urlHub" serializeAs="String">
        <value>http://services2.jbp.com.ec/checkOrdersToPromotickBusinessService</value>
      </setting>
      <setting name="urlService" serializeAs="String">
        <value>http://services2.jbp.com.ec/api/PromotickBusinessServicesOrders</value>
      </setting>
    </jbp.businessServices.SendFacturasAndNCPromotick.conf>
    <jbp.core.Variables>
      <setting name="bddStringConnection" serializeAs="String">
        <value>Data Source=jbp;Password=JBP;User ID=JBP;</value>
      </setting>
    </jbp.core.Variables>
    <TechTools.Utils.conf>
      <setting name="logsPathFolder" serializeAs="String">
        <value>D:\jbp.apps\jbp\jbp.businessServices.SendFacturasAndNCPromotick</value>
      </setting>
    </TechTools.Utils.conf>
    <jbp.business.config>
      <setting name="ptkWsUrl" serializeAs="String">
        <value>http://apijames.promotick.com.pe/api/gsttransaccion</value>
      </setting>
      <setting name="ptkFtpFileName" serializeAs="String">
        <value>FtpFiles\promotick\excel-transaccion.xlsx</value>
      </setting>
      <setting name="ptkFtpUrl" serializeAs="String">
        <!--<value>ftp://ftp.jbp.com.ec/promotick</value>-->
        <value>ftp://52.2.138.255</value>
      </setting>
      <setting name="ptkFtpUser" serializeAs="String">
        <!--<value>jespin</value>-->
        <value>james</value>
      </setting>
      <setting name="ptkFtpPwd" serializeAs="String">
        <!--<value>2816Jfen*</value>-->
        <value>promotick2428</value>
      </setting>
      <setting name="ptkFtpPutDateTimeOnFileName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ptkUrlNotificarLogs" serializeAs="String">
        <!--<value>http://localhost:5000/api/PromotickBusinessServicesOrders/log</value>-->
        <value>http://services2.jbp.com.ec/api/PromotickBusinessServicesOrders/log</value>
      </setting>
      <setting name="ptkPeriodoEnSegundosDeConsultaServicio" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ptkIniciarA_Hora" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="ptkIniciarA_Minuto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ptkIniciarAHoraEspesifica" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ptkWsUser" serializeAs="String">
        <value>api-james-promotick</value>
      </setting>
      <setting name="ptkWsPwd" serializeAs="String">
        <value>hkIUtJmnq5sda</value>
      </setting>
      <setting name="ptkEnviarPorFTP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ptkEnviarPorWS" serializeAs="String">
        <value>True</value>
      </setting>
    </jbp.business.config>
  </applicationSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>