<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="TechTools.Core.Hana.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    
    <TechTools.Core.Hana.conf>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=192.168.57.13:30015;UserName=SYSTEM;Password=H4n4bdd*</value>
      </setting>
      <setting name="DefaultSchema" serializeAs="String">
        <!--<value>SBO_JBP_PROD</value>-->
        <value>JBPRUEBAS_28JUL2021</value>
      </setting>
    </TechTools.Core.Hana.conf>
    
  </applicationSettings>
</configuration>