<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jbp.core.sapDiApi.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <jbp.core.sapDiApi.conf>
            <setting name="server" serializeAs="String">
                <value>192.168.57.13:30015</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>SBO_PRUEBA_20200529</value>
            </setting>
            <setting name="sapUser" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="sapPwd" serializeAs="String">
                <value>S1st3m4sJB</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="dbPwd" serializeAs="String">
                <value>H4n4bdd*</value>
            </setting>
            <setting name="NroSerieTSPorDefecto" serializeAs="String">
                <value>95</value>
            </setting>
        </jbp.core.sapDiApi.conf>
    </applicationSettings>
</configuration>