<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TechTools.Core.Hana.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="TechTools.Net.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
	  <TechTools.Net.conf>
		  <setting name="smtpMailServer" serializeAs="String">
			  <value>smtp.office365.com</value>
			  <!--value>jbp-com-ec.mail.protection.outlook.com</value-->
		  </setting>
		  <setting name="senderMail" serializeAs="String">
			  <!--value>sistemas@jbp.com.ec</value-->
			  <value>rr_hh@jbp.com.ec</value>
		  </setting>
		  <setting name="senderUser" serializeAs="String">
			  <!--value>sistemas@jbp.com.ec</value-->
			  <value>rr_hh@jbp.com.ec</value>
		  </setting>
		  <setting name="senderPwd" serializeAs="String">
			  <!--value>Ph4rm4Br0wn$Adm1n%</value-->
			  <value>R3curs0sHUM**</value>
		  </setting>
		  <setting name="smtpPort" serializeAs="String">
			  <!--value>25</value-->
			  <value>587</value>
		  </setting>
		  <setting name="smtpSupportSSL" serializeAs="String">
			  <value>True</value>
		  </setting>
	  </TechTools.Net.conf>
    <TechTools.Core.Hana.conf>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=192.168.57.13:30015;UserName=SYSTEM;Password=H4n4bdd*</value>
      </setting>
      <setting name="DefaultSchema" serializeAs="String">
        <value>SBO_JBP_PROD</value>
      </setting>
    </TechTools.Core.Hana.conf>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>