<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TechTools.Net.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TechTools.Core.Hana.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="emailSender.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
	  <TechTools.Net.conf>
		  <setting name="smtpMailServer" serializeAs="String">
			  <value>smtp.office365.com</value>
		  </setting>
		  <setting name="senderMail" serializeAs="String">
			  <value>sistemas@jbp.com.ec</value>
			  <!--value>rr_hh@jbp.com.ec</value-->
		  </setting>
		  <setting name="senderUser" serializeAs="String">
			  <value>sistemas@jbp.com.ec</value>
			  <!--value>rr_hh@jbp.com.ec</value-->
		  </setting>
		  <setting name="senderPwd" serializeAs="String">
			  <value>Ph4rm4Br0wn$Adm1n%</value>
		  </setting>
		  <setting name="smtpPort" serializeAs="String">
			  <value>587</value>
		  </setting>
		  <setting name="smtpSupportSSL" serializeAs="String">
			  <value>True</value>
		  </setting>
	  </TechTools.Net.conf>
	  <TechTools.Core.Hana.conf>
		  <setting name="ConnectionString" serializeAs="String">
			  <!--value>Server=192.168.57.13:30015;UserName=SYSTEM;Password=H4n4bdd*</value-->
			  <value>Server=192.168.57.13:30015;UserName=SAPSYSTEM;Password=Pa55w0rdsap*;DATABASENAME=NDB</value>
		  </setting>
		  <setting name="DefaultSchema" serializeAs="String">
			  <value>SBO_JBP_PROD</value>
			  <!--value>JB_PRUEBA_06SEP2024</value-->
		  </setting>
	  </TechTools.Core.Hana.conf>
  </applicationSettings>
  <userSettings>
    <emailSender.conf>
      <setting name="asunto" serializeAs="String">
        <value>Rol de Pagos</value>
      </setting>
      <setting name="cuerpoMensaje" serializeAs="String">
        <value>
          Estimado Colaborador {br}
          Adjunto encontrará su rol de pagos {br}{br}
          Atte.{br}
          {b}James Brown Pharma{/b}
        </value>
      </setting>
    </emailSender.conf>
  </userSettings>
</configuration>