<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="jbp.business.hana.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TechTools.Core.Hana.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TechTools.Net.conf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <jbp.business.hana.conf>
      <setting name="ptkWsUrl" serializeAs="String">
        <value>http://apijames.promotick.com.pe/api</value>
      </setting>
      <setting name="ptkWsUrl2" serializeAs="String">
        <value>http://apijames.promotick.com.pe/JamesBPApi/api</value>
      </setting>
      <setting name="ptkWsUser" serializeAs="String">
        <value>api-james-promotick</value>
      </setting>
      <setting name="ptkWsPwd" serializeAs="String">
        <value>hkIUtJmnq5sda</value>
      </setting>
      
      <setting name="ptkEnviarFacturasYNc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CorreosNotificacionesPromotick" serializeAs="String">
        <!--<value>jespin@jamesbrownpharma.com</value>-->
        <value>jespin@jbp.com.ec; glandacay@jbp.com.ec; jcoloma@jbp.com.ec; mpenaherrera@jbp.com.ec</value>
      </setting>
    </jbp.business.hana.conf>
    <TechTools.Core.Hana.conf>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=192.168.57.13:30015;UserName=SYSTEM;Password=H4n4bdd*</value>
      </setting>
      <setting name="DefaultSchema" serializeAs="String">
        <value>SBO_JBP_PROD</value>
      </setting>
    </TechTools.Core.Hana.conf>
    <TechTools.Net.conf>
      
      <setting name="smtpMailServer" serializeAs="String">
        <!--<value>mail.jamesbrownpharma.com</value>-->
        <!--<value>smtp.office365.com</value>-->
        <value>jbp-com-ec.mail.protection.outlook.com</value>
        
      </setting>
      <setting name="senderMail" serializeAs="String">
        <value>sistemas@jbp.com.ec</value>
        <!--<value>felectronica@jbp.com.ec</value>-->
      </setting>
      <setting name="senderUser" serializeAs="String">
        <!--<value>felectronica</value>-->
        <value>sistemas</value>
      </setting>
      <setting name="senderPwd" serializeAs="String">
        <!--<value>F4ctur4S4p*%</value>-->
        <value>S1st3m4sJBP</value>
      </setting>
      <setting name="smtpPort" serializeAs="String">
        <!--<value>587</value>-->
        <value>25</value>
      </setting>
      <setting name="smtpSupportSSL" serializeAs="String">
        <value>True</value>
      </setting>
    </TechTools.Net.conf>
  </applicationSettings>
</configuration>